In [1]:

import pandas as pd
import glob
import dateutil

In [2]:
path =r'/Users/netty/Tableau/data'
allFiles = glob.glob(path + "/*.csv")
bikeframe = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
bikeframe = pd.concat(list_)

In [3]:
bikeframe.shape

(8475215, 15)

In [4]:
bikeframe.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1

In [13]:
bikeframe.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                  object
gender                       int64
dtype: object

In [ ]:
#bikeframe.to_csv('combined_data 2013-2014')

In [14]:
bikeframe['start station name'].describe()

count             8475215
unique                340
top       8 Ave & W 31 St
freq                85847
Name: start station name, dtype: object

## I did extract  the data that  would be necessary in my data visualizations based on the requirements needed. 
Findings: THe record shows that that city biking activities is dependent on the months,if summer time it looks likes there more activities in the cities. As to the demographics, there are majority male participants than female, and yet  where a few who are not  unidentified participants. As to category of participants are more customers than the subscribers.

In [7]:
top_10_bike_tripduration = bikeframe.nlargest(10,['tripduration'])
print(top_10_bike_tripduration)

        tripduration            starttime             stoptime  \
159329       6250750  2013-07-08 16:51:40  2013-09-19 01:10:53
347019       2006840  2013-11-14 08:47:24  2013-12-07 14:14:49
260274       1990440  2014-01-28 17:38:05  2014-02-20 18:32:08
324597       1907050  2013-12-20 18:36:35  2014-01-11 20:20:45
152334       1259480  2013-10-04 18:03:56  2013-10-19 07:55:21
594124       1113700  2013-11-23 16:40:14  2013-12-06 14:01:52
246005        999965  2013-12-15 15:52:48  2013-12-27 05:38:53
17928         813179  2014-01-04 21:44:53  2014-01-14 07:37:52
60093         766108  2014-02-08 15:52:51  2014-02-17 12:41:19
192363        761793  2013-08-06 21:11:40  2013-08-15 16:48:13

        start station id          start station name  start station latitude  \
159329               151    Cleveland Pl & Spring St               40.721816
347019                72            W 52 St & 11 Ave               40.767272
260274               524             W 43 St & 6 Ave               40.755273
324597               223             W 13 St & 7 Ave               40.737815
152334               527             E 33 St & 1 Ave               40.743156
594124               402          Broadway & E 22 St               40.740343
246005               402          Broadway & E 22 St               40.740343
17928                489            10 Ave & W 28 St               40.750664
60093                353  S Portland Ave & Hanson Pl               40.685396
192363               229              Great Jones St               40.727434

        start station longitude  end station id  \
159329               -73.997203             501
347019               -73.993929             445
260274               -73.983169             152
324597               -73.999947             445
152334               -73.974347             267
594124               -73.989551            2006
246005               -73.989551             276
17928                -74.001768             529
60093                -73.974315             281
192363               -73.993790             342

                         end station name  end station latitude  \
159329                FDR Drive & E 35 St             40.744219
347019                 E 10 St & Avenue A             40.727408
260274              Warren St & Church St             40.714740
324597                 E 10 St & Avenue A             40.727408
152334                 Broadway & W 36 St             40.750977
594124             Central Park S & 6 Ave             40.765909
246005            Duane St & Greenwich St             40.717488
17928                     W 42 St & 8 Ave             40.757570
60093   Grand Army Plaza & Central Park S             40.764397
192363         Columbia St & Rivington St             40.717400

        end station longitude  bikeid    usertype birth year  gender
159329             -73.971212   16808    Customer         \N       0
347019             -73.981420   19356  Subscriber       1978       2
260274             -74.009106   15132  Subscriber       1980       1
324597             -73.981420   20354  Subscriber       1973       1
152334             -73.987654   19704    Customer         \N       0
594124             -73.976342   16083    Customer         \N       0
246005             -74.010455   17171  Subscriber       1980       1
17928              -73.990985   21089  Subscriber       1988       1
60093              -73.973715   15379  Subscriber       1982       2
192363             -73.980166   15941  Subscriber       1979       1

In [9]:
bikeframe.to_csv('top_10_bike_tripduration')

In [ ]:
# Average Price by State (line), Lowest/Highest Price (bar)
#bikeframe_stats = bikeframe.groupby('start station name').agg({'bikeframe.head()
#' : ['mean', 'min', 'max']})
#bikeframe.columns = ['Average', 'Min', 'Max']
#state_stats = bikeframe.sort_values(by="Average", ascending = False).round(2)
#state_stats

In [11]:
bottom10_bike_trip =df.nsmallest(10,'tripduration')
print(bottom10_bike_trip)

       tripduration            starttime             stoptime  \
3715             60  2014-06-01 10:25:20  2014-06-01 10:26:20
6324             60  2014-06-01 11:49:54  2014-06-01 11:50:54
8309             60  2014-06-01 12:39:46  2014-06-01 12:40:46
11031            60  2014-06-01 13:43:07  2014-06-01 13:44:07
15816            60  2014-06-01 15:25:51  2014-06-01 15:26:51
17027            60  2014-06-01 15:51:18  2014-06-01 15:52:18
23884            60  2014-06-01 18:19:29  2014-06-01 18:20:29
24446            60  2014-06-01 18:33:10  2014-06-01 18:34:10
24508            60  2014-06-01 18:34:47  2014-06-01 18:35:47
27644            60  2014-06-01 20:00:10  2014-06-01 20:01:10

       start station id        start station name  start station latitude  \
3715                382   University Pl & E 14 St               40.734927
6324                546      E 30 St & Park Ave S               40.744449
8309                279  Peck Slip & Front Street               40.707873
11031               363            West Thames St               40.708347
15816               294       Washington Square E               40.730494
17027               128  MacDougal St & Prince St               40.727103
23884               520           W 52 St & 5 Ave               40.759923
24446               290           2 Ave & E 58 St               40.760203
24508               398  Atlantic Ave & Furman St               40.691652
27644               488           W 39 St & 9 Ave               40.756458

       start station longitude  end station id          end station name  \
3715                -73.992005             382   University Pl & E 14 St
6324                -73.983035             546      E 30 St & Park Ave S
8309                -74.001670             279  Peck Slip & Front Street
11031               -74.017134             363            West Thames St
15816               -73.995721             294       Washington Square E
17027               -74.002971             128  MacDougal St & Prince St
23884               -73.976485             520           W 52 St & 5 Ave
24446               -73.964785             290           2 Ave & E 58 St
24508               -73.999979             398  Atlantic Ave & Furman St
27644               -73.993722             488           W 39 St & 9 Ave

       end station latitude  end station longitude  bikeid    usertype  \
3715              40.734927             -73.992005   15598  Subscriber
6324              40.744449             -73.983035   17773  Subscriber
8309              40.707873             -74.001670   18658  Subscriber
11031             40.708347             -74.017134   20160    Customer
15816             40.730494             -73.995721   14636  Subscriber
17027             40.727103             -74.002971   18615    Customer
23884             40.759923             -73.976485   14911  Subscriber
24446             40.760203             -73.964785   16267  Subscriber
24508             40.691652             -73.999979   19495  Subscriber
27644             40.756458             -73.993722   14915  Subscriber

      birth year  gender
3715        1954       1
6324        1974       1
8309        1980       2
11031         \N       0
15816       1986       1
17027         \N       0
23884       1963       1
24446       1972       1
24508       1976       2
27644       1987       2

In [ ]:
bikeframe['end station name'].describe()

In [55]:
bottom10_bike_trip.to_csv('buttomlist_bikers')

In [ ]:
undefinedbikers =bikeframe['gender']==0
print(undefinedbikers)

In [44]:
startstation_name = bikeframe.groupby('start station name').tripduration.agg(['min', 'max','sum'])
print(startstation_name)

                               min      max       sum
start station name
1 Ave & E 15 St                 60   370222  33821976
1 Ave & E 18 St                 60   590196  24317111
1 Ave & E 30 St                 60   109869  23267152
1 Ave & E 44 St                 60    70141  18645405
10 Ave & W 28 St                60   813179  22597218
11 Ave & W 27 St                60    58133  24489217
11 Ave & W 41 St                60   145700  26721333
11 Ave & W 59 St                63    20579   8374777
12 Ave & W 40 St                60   234563  44584707
2 Ave & E 31 St                 60   158479  37193846
2 Ave & E 58 St                 60    81481  28564991
3 Ave & Schermerhorn St         64    66977   3835126
5 Ave & E 29 St                 60    94522  25029655
6 Ave & Broome St               60   277760  17613259
6 Ave & Canal St                60    45714  19808191
6 Ave & W 33 St                 60   194481  30694301
7 Ave & Farragut St             61   286060   1527368
8 Ave & W 31 St                 60   225489  68364390
8 Ave & W 33 St                 60   197350  50596353
8 Ave & W 52 St                 60    93100  30088252
9 Ave & W 14 St                 60   205136  39590849
9 Ave & W 16 St                 60   109237  29887801
9 Ave & W 18 St                 60   121305  22988646
9 Ave & W 22 St                 60    77082  32617155
9 Ave & W 45 St                 60    98503  31375924
Adelphi St & Myrtle Ave         61   216742   6724622
Allen St & E Houston St         60   131010  29254976
Allen St & Hester St            60   100715  23049770
Allen St & Rivington St         60    61827  30321427
Ashland Pl & Hanson Pl          61   117217  13032497
...                            ...      ...       ...
W 49 St & 8 Ave                 60   228962  30946192
W 51 St & 6 Ave                 60   102692  24223979
W 52 St & 11 Ave                60  2006840  31537444
W 52 St & 5 Ave                 60   693547  18688898
W 52 St & 9 Ave                 61   101440  15651226
W 53 St & 10 Ave                60    57329  19943428
W 54 St & 9 Ave                 60    36222  13913256
W 56 St & 10 Ave                60    56663  17867932
W 56 St & 6 Ave                 60   116934  33641352
W 59 St & 10 Ave                60   444872  32989302
W Broadway & Spring St          60   277041  32661897
W Houston St & Hudson St        60    86262  43603573
Warren St & Church St           60    90942  18585505
Washington Ave & Greene Ave     61    24757   3779998
Washington Ave & Park Ave       60   110074   7079822
Washington Park                 60   337161   5161667
Washington Pl & 6 Ave           60   201234  17578006
Washington Pl & Broadway        60    46936  20998109
Washington Square E             60   580700  27936694
Washington St & Gansevoort St   60    66571  31970162
Water - Whitehall Plaza         60    69534  15656153
Watts St & Greenwich St         60   214733  23535897
West St & Chambers St           60   136762  76796520
West Thames St                  60   232791  41105766
William St & Pine St            60   218890  18247387
Willoughby Ave & Hall St        60   252891   7008348
Willoughby Ave & Walworth St    60   601177   6743053
Willoughby St & Fleet St        62    79697   5422779
Wythe Ave & Metropolitan Ave    60   354371  24747558
York St & Jay St                60   195861  16274727

[340 rows x 3 columns]

In [45]:
startstation_name.to_csv('startime_stats')

In [23]:
gender_cat = bikeframe.groupby('gender').tripduration.agg(['min', 'max','sum'])
print(gender_cat)

        min      max         sum
gender
0        60  6250750  1538738776
1        60  1990440  4296035524
2        60  2006840  1523660748

In [34]:
user_cat = bikeframe.groupby('usertype').tripduration.agg(['min', 'max','sum'])
print(customer_cat)

            min      max         sum
usertype
Customer     60  6250750  1538286504
Subscriber   60  2006840  5820148544

In [40]:
genderUsercat=bikeframe.groupby('gender')['usertype'].count()
print(genderUsercat)

gender
0     993163
1    5756631
2    1725421
Name: usertype, dtype: int64

In [52]:
start_time_group=bikeframe.groupby(['starttime', 'start station name'])['tripduration'].mean()
print(start_time_group)

starttime            start station name
2013-07-01 00:00:00  E 47 St & 2 Ave                   634.0
2013-07-01 00:00:02  W 26 St & 10 Ave                 1547.0
2013-07-01 00:01:04  Lafayette St & E 8 St             178.0
2013-07-01 00:01:06  Forsyth St & Broome St           1580.0
2013-07-01 00:01:10  University Pl & E 14 St           757.0
2013-07-01 00:01:23  E 14 St & Avenue B                861.0
2013-07-01 00:01:59  Lafayette St & E 8 St             550.0
2013-07-01 00:02:16  E 7 St & Avenue A                 766.0
                     Spruce St & Nassau St             288.0
2013-07-01 00:02:23  Broadway & W 49 St                773.0
                     Hudson St & Reade St              456.0
2013-07-01 00:02:24  9 Ave & W 45 St                   623.0
                     Mott St & Prince St               632.0
2013-07-01 00:02:33  1 Ave & E 15 St                   228.0
2013-07-01 00:02:44  9 Ave & W 45 St                   643.0
2013-07-01 00:03:10  5 Ave & E 29 St                  1312.0
2013-07-01 00:03:14  W 41 St & 8 Ave                   424.0
2013-07-01 00:03:30  W 20 St & 8 Ave                  1129.0
2013-07-01 00:03:58  W 26 St & 8 Ave                   311.0
2013-07-01 00:04:10  W 13 St & 6 Ave                  1275.0
2013-07-01 00:05:09  Hicks St & Montague St            318.0
2013-07-01 00:05:26  8 Ave & W 31 St                  1603.0
2013-07-01 00:05:31  W 59 St & 10 Ave                  440.0
2013-07-01 00:05:35  Broadway & W 49 St                801.0
2013-07-01 00:05:37  Pershing Square N                 452.0
2013-07-01 00:05:41  Cleveland Pl & Spring St          305.0
2013-07-01 00:05:47  W 26 St & 8 Ave                   682.0
2013-07-01 00:05:49  Allen St & E Houston St          1444.0
2013-07-01 00:05:51  E 20 St & FDR Drive               537.0
2013-07-01 00:06:27  W 56 St & 6 Ave                  1456.0
                                                       ...
2014-06-30 23:55:53  E 10 St & 5 Ave                   376.0
2014-06-30 23:56:12  E 39 St & 2 Ave                   317.0
2014-06-30 23:56:22  W 14 St & The High Line           454.0
2014-06-30 23:56:27  E 10 St & 5 Ave                   684.0
2014-06-30 23:56:28  E 10 St & 5 Ave                  1304.0
2014-06-30 23:56:34  E 39 St & 2 Ave                   299.0
2014-06-30 23:56:40  W 34 St & 11 Ave                 2140.0
2014-06-30 23:56:50  W Broadway & Spring St            605.0
2014-06-30 23:56:55  W 52 St & 9 Ave                   265.0
2014-06-30 23:57:01  12 Ave & W 40 St                  812.0
2014-06-30 23:57:08  Christopher St & Greenwich St    1083.0
2014-06-30 23:57:26  Bond St & Schermerhorn St         686.0
2014-06-30 23:57:36  Stanton St & Chrystie St          211.0
2014-06-30 23:57:55  MacDougal St & Washington Sq      527.0
2014-06-30 23:57:56  W 45 St & 8 Ave                   713.0
2014-06-30 23:58:15  Broadway & E 14 St                788.0
2014-06-30 23:58:20  Mercer St & Bleecker St           911.0
2014-06-30 23:58:35  Mercer St & Bleecker St           910.0
2014-06-30 23:58:37  Washington Pl & Broadway          140.0
2014-06-30 23:58:41  2 Ave & E 31 St                   851.0
2014-06-30 23:58:59  E 56 St & Madison Ave             698.0
                     W Broadway & Spring St            630.0
2014-06-30 23:59:03  Norfolk St & Broome St           1518.0
2014-06-30 23:59:08  Bank St & Washington St           882.0
2014-06-30 23:59:10  9 Ave & W 16 St                   251.0
2014-06-30 23:59:18  W 39 St & 9 Ave                  1123.0
2014-06-30 23:59:22  St James Pl & Oliver St           608.0
2014-06-30 23:59:30  W 42 St & 8 Ave                   336.0
2014-06-30 23:59:50  E 39 St & 2 Ave                  1299.0
                     Elizabeth St & Hester St          312.0
Name: tripduration, Length: 8434644, dtype: float64

In [53]:
start_time_group.to_csv('start_time_stats')

C:\Users\netty\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.